@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
.boite{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;

}
.table {
    margin-top: 100px ;
}
.boite2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    margin-top:100px ;
}
.input1{
    width:500px ;
    border-Radius:150px;
    border: none;
    height: fit-content;
}
.p1{
    font-family: 'Rubik Maps', system-ui;
    font-size: 50px;
    margin-top: 50px;
    text-transform: capitalize;
}
.bt2{
    border:none;
    width: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 40px;
    font-weight:bolder;
    color:white;
    background-color: rgb(11, 99, 200);
    cursor: pointer;
}
.bt{
    border:none;
    width:250px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 40px;
    font-weight:bolder;
    color:white;
    background-color: rgb(11, 99, 200); 
    text-transform: capitalize;
    cursor: pointer;
}